{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=
no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <title>Book Time</title>
    <style>
        .page-content{
            padding:10px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">BookTime</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/about-us/' %}active{% endif %}" href="/about-us/">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/contact-us/' %}active{% endif %}" href="/contact-us/">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class='page-content'>
    {% block content %}
    {% endblock content %}
    </div>
    <script src="{% static 'main/js/jquery.min.js' %}">
    </script>
    <script src="{% static 'main/js/popper.min.js' %}">
    </script>
    <script src="{% static 'main//js/bootstrap.min.js' %}">
    </script>
</body>

</html>